@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #22272e;
  color: white;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav {
  background-color: #2d333b;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 150px;
  /*   height: 200px; */
  margin: 0 0 0 10px;
  float: left;
}

h1.title {
  display: flex;

  font-family: "Poppins", sans-serif;
  opacity: 1;
  font-weight: 600;
  font-size: 23px;
  align-items: center;
}

/* navbar bg=2d333b */
.span {
  background-image: var(--grad);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 9px;
  background-size: 160%;
  /* gradient */
}
:root {
  --grad: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871,
    red
  );
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

li {
  float: right;
}

li a {
  display: block;
  color: #c8d4da;

  margin: 0px 30px;
  float: right;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  transition: 0.3s;
  opacity: 1;
  float: right;
}

.jumbotron {
  padding: 60px 60px 60px 120px;
}
.typing {
  font-size: 33.5px;
}
