@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  box-sizing: border-box;

}
body {
  background-color: #1c2128;
  color: white;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav {
  background-color: #2d333b;
  margin: 0;
  padding: 5px;
}

.logo img {
  width: 50px;
  border-radius: 100px;
  /*   height: 200px; */
  margin: 0 0 0 12px;
  float: left;
}

h1.title {
  display: flex;

  font-family: "Poppins", sans-serif;
  opacity: 1;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}

/* navbar bg=2d333b */
.span {
  background-image: var(--grad);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 9px;
    font-weight:800;

  background-size: 160%;
  /* gradient */
}
:root {
  --grad: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871,
    red
  );
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

li {
  float: right;
}

li a {
  display: block;
  color: #c8d4da;

  margin: 0px 30px;
  float: right;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  transition: 0.3s;
  opacity: 1;
  float: right;
}

.jumbotron {
  padding: 60px 60px 60px 120px;
    font-size: 35.5px;

}
.subTitle{
    font-size: 25px;
font-weight:900;
}
.typing {
  font-size: 33.5px;
}

#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: white;
  font-weight:550;  

}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 30px;
	background-color: skyblue;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: skyblue; 
	}
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 50px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  	box-shadow: 0 0 2px 1px lightgrey;

/* border: 2px solid white; */
  padding:15px 20px;
  width: 80%;
  height: 140px;
  border-radius:10px;
  text-align: left;
  cursor:pointer;
  background-color: #22272e;
}

.card:hover {
  transition: .4s;
        transform: scale(1.15);
       
 box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;    }


        .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
        }
        
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .closebtn:hover {
          color: black;
        }
        .alert.info {background-color: #ffaa2c;}
        @media (max-width: 767px) { 
          .nav{
              display:none;
          }
      }